.results {
    &_wrapper {
        width: $wrapper-width;
        margin: 0 auto;
    }
    
    &__list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

.results_not_found_message {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: $foreground-color-5;
    margin: 40px;
}