.card{
    margin-top: 20px;
    background-image: "/Abai_Kunanbaev.jpg";
    border: 2px solid #999;
    width: 200px;
    height: 250px;
    display:flex;
    justify-content: center;
    align-items: end;

    &__inner_text{
        width: 200px;
        height: 50px;
        border: 1px solid #999;
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;    
    }
}