.container {
    width: 100%;
    display: flex;
    margin-top: 50px;

    &_wrapper {
        width: $wrapper-width;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap:30px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        width: 50%;
        gap: 20px;
        margin-bottom: 30px;
        margin-top: 10px;

        &__text{
            

            &__header{
                font-size: 40px;
                font-weight: 600;
            }
            &__description{
                font-size: small;
                color: $foreground-color-3;
                margin-left: 10px;
            }
        }

        &__image{
            object-fit: cover;
            border-radius: 10px;
        }
    }

    &__about_us{
        padding: 10px;
        width: 80%;
        align-self: center;
        display: flex;
        gap:20px;

        &__img{
            object-fit: fill;
            border-radius: 20px;
        }

        &__text{
            display: flex;
            flex-direction: column;
            gap:7px;

            &__header{
                font-size: 25px;
            }

            &__description{
                font-size: medium;
                color: $foreground-color-2;
            }
        }
    }
}