.container {
    width: 100%;
    display: flex;
    margin-top: 50px;

    &_wrapper {
        width: $wrapper-width;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap:30px;
    }

    &__header {
        display: flex;
        justify-content: space-evenly;
        padding-left: 80px;
        padding-right: 80px;

        &__text{
            &__description{
                font-size: small;
                color: $foreground-color-3;
            }
        }

        &__image{
            object-fit: cover;
            border-radius: 10px;
        }
    }

    &__about_us{
        padding: 10px;
        width: 80%;
        align-self: center;
        display: flex;
        gap:20px;

        &__img{
            object-fit: cover;
            border-radius: 20px;
        }
    }
}