.author_numbers {
    display: inline-flex;
    align-items: center;
    gap: 1em;
    font-size: 17px;
    color: $foreground-color-2;

    & > * {
        display: flex;
        align-items: center;
        gap: 0.2em;
    }

    @media screen and (max-width: $mobile-width) {
        gap: 4px;
        font-size: smaller;
        width: 70%;
    }
}
