.author_numbers {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 17px;
    color: $foreground-color-2;

    & > * {
        display: flex;
        align-items: center;
        gap: 7px;
    }
    @media screen and (max-width: $mobile-width) {
                gap: 4px;
                font-size: smaller;
                justify-content: space-around;
                width: 70%;
        }
      }
