.author_numbers {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 17px;
    color: $secondary-foreground-color;

    & > * {
        display: flex;
        align-items: center;
        gap: 7px;
    }
}