.article_card{
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: transparent;
    transition: background-color;
    transition-duration: 0.5s;
    overflow: hidden;
    
    &:hover {
        .article_card__stats {
            opacity: 1;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        bottom: 0%;
        z-index: -2;
        object-fit: cover;
    }

    &__stats {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        bottom: 0%;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        font-size: 20px;
        opacity: 0;
        transition: opacity;
        transition-duration: 0.5s;
        
        &:hover {
            opacity: 1;
        }

        &__heart {
        }
    }

    &__title{
        width: 100%;
        padding: 10px;
        height: fit-content;
        border-top: 1px solid #999;
        background-color: rgba(0, 0, 0, 0.5);
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;    
    }
}