.main_section {
    width: 100%;
    display: flex;

    &_wrapper {
        width: $wrapper-width;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        gap:7%;
        flex-shrink: 1;
    }

    &__content_left {
        width: 80%;
    }

    &__content_right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.secondary_section {
    width: 100%;
    display: flex;

    &_wrapper {
        width: $wrapper-width;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
}