.main_section {
    width: 100%;
    display: flex;

    &_wrapper {
        width: $wrapper-width;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    &__content_left {
    }

    &__content_right {
        display: flex;
        flex-direction: column;
    }
}

.secondary_section {
    width: 100%;
    display: flex;

    &_wrapper {
        width: $wrapper-width;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
}