.author_card{
    border-radius: 10px;
    flex-wrap: nowrap;
    width: 100%;
    height: 80px;
    padding: 0 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 15px;

    &__profile_picture {
        border-radius: 50%;
        object-fit: cover;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &_bottom {
            display: flex;
            align-items: center;
            gap: 30px;

            & > * {
                display: flex;
                align-items: center;
                gap: 7px;
            }
        }
    }
}