
.card{
    background-color: rgb(16, 40, 118);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    flex-wrap: nowrap;
}

a{
    font-weight: 800;
    font-size: large;
    margin: 10px;
}

a{
    font-weight: 400;
    font-size: small;
    margin: 5px;
    color: #777;
}