.navbar {
    height: 70px;
    width: 100%;
    display: flex;
    background-color: rgba(28, 36, 46, 0.6);
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.479);
    backdrop-filter: blur(20px);
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 5;

    &_wrapper {
        width: $wrapper-width;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        & > * {
            margin: auto 0;
            & > * {
                margin: auto 0;
            }
        }
    }

    &__header {
        display: flex;
        gap: 10px;
        font-size: 20px;

        &__logo {
            filter: invert(0%) sepia(67%) saturate(88%) hue-rotate(240deg) brightness(116%) contrast(100%);
        }
    }

    &__nav {
        display: flex;
        height: 100%;
        p{
            font-size: medium;
        }
    }

    & li {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 min(15px, 1.5vw);
        background-color: transparent;
        transition: background-color;
        transition-duration: 0.5s;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}

.fake_navbar {
    height: 70px;
    width: 100%;
}

@media screen and (max-width: $mobile-width) {
    .navbar{
        &__nav{
            p{
                font-size: small;
            }
        }
    }
}