.user_img{
    object-fit: cover;
    border-radius: 50%;
}

.article_page{
    margin-top: 50px;
    display: flex;
    
    &_wrapper{
        width: $wrapper-width;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
}


.title{
    width: 100%;
    display: flex;
    justify-content: center;
}