$min-wrapper-width: 300px;
$wrapper-width: min(95%, 800px);
$mobile-width: 40rem;
$tablet-width: 60rem;

// COLORS
$primary-color: #F3AF2B;
$foreground-color-1: white;
$foreground-color-2: rgba(255, 255, 255, 0.7);
$foreground-color-3: rgba(255, 255, 255, 0.5);
$foreground-color-4: rgba(255, 255, 255, 0.2);
$foreground-color-5: rgba(255, 255, 255, 0.1);
$background-color: #151D23;